// Color Variables
$baseColor1: rgb(255,255,255);
$baseColor2: rgb(238,238,238);
$mainColor1: rgb(0,104,183);
$mainColor2: rgb(0,104,183);
$accentColor: rgb(220,85,63);
$textColor1: rgb(0,104,183);
// $textColor1: #333333;

$textColor2: #FFFFFF;
$overlay1: rgba(#3C2F10,0.3);
$overlay2: rgba(#FFFFFF,0.85);

// Font Variables
$caslon: "Libre Caslon Text";
$serif:"Noto Serif JP";
$sans: "Noto Sans JP";

